<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PhoneNumbers" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Facultate\Medii de programare si dezvoltare\Database\PhoneNumbers.mdf;Integrated Security=True;Connect Timeout=30" />
	</connectionStrings>
</configuration>